.footer--container{
    width: 90%;
    padding: 2rem 0.5rem 3rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
}